{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h2>No molestar</h2>
        <p>No molestar al programador</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/img.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}