<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>WEB / node</title>
    </head>
   <body>